.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding : 0;
    margin-left: 0;
    display: inline;
    border: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0;
}

.iron{
    font-weight: bold;
}